<meta charset="utf-8" />
<meta name="keyword" content="BHF项目" />
<meta name="description" content="BHF项目" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>BHF</title>
{{css "<global.root>/css/" "main,font-awesome,simditor,iconfont"}}
{{css "<global.root>/package/colorbox/colorbox"}}
{{css "<global.root>/package/datetime/datetimepicker"}}
{{css "<global.root>/package/highlight/styles/idea"}}
{{css "<global.root>/package/jquery.autocomplete/jquery.autocomplete.css"}}
<!--<link rel="stylesheet" href="{{global.root}}/css/main.css" type="text/css">-->
<script language="javascript" src="/js/vendor/require.js" data-main="/js/main.js" data-cacheKey="{{now}}"></script>